/* Podstawowe style dla wszystkich urządzeń */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 50px;
}

p {
  text-align: center;
  font-size: 18px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}