<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>lekARTswo | Wiersz</title>

  <!-- Styl -->
  <link rel="stylesheet" href="../styles/poem.css" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Cinzel&display=swap" rel="stylesheet" />
</head>
<body>

  <!-- Powrót do strony głównej -->
  <a href="../index.html#poems" class="brand-logo">lekARTswo</a>

  <!-- Lewa kolumna: tytuł -->
  <div class="left">
    <h1 id="poem-title">...</h1>
  </div>

  <!-- Prawa kolumna: treść i stopka -->
  <div class="right">
    <div class="poem-scroll">
        <a id="prev-poem" class="nav-arrow left-arrow" href="#">←</a>
        <a id="next-poem" class="nav-arrow right-arrow" href="#">→</a>
      <section class="poem-text">
        <p id="poem-text">Wczytywanie...</p>
      </section>

      

    <footer>
      <p>Mateusz Szygulski | 2025</p>
    </footer>
  </div>

  <!-- Skrypt do wczytywania wierszy -->
  <script src="../scripts/poem.js" defer></script>
</body>
</html>
